[submodule "Hardware/Interconnect-Board/Libraries/kenwoodfox-kicad-libraries"]
	path = Hardware/Interconnect-Board/Libraries/kenwoodfox-kicad-libraries
	url = https://github.com/KenwoodFox/kenwoodfox-kicad-libraries.git
