[submodule "Hardware/Interconnect-Board/Libraries/kenwoodfox-kicad-libraries"]
	path = Hardware/Interconnect-Board/Libraries/kenwoodfox-kicad-libraries
	url = https://github.com/KenwoodFox/kenwoodfox-kicad-libraries.git
[submodule "Hardware/Main-Board/libraries/KiCad-RP-Pico"]
	path = Hardware/Main-Board/libraries/KiCad-RP-Pico
	url = https://github.com/sol/KiCad-RP-Pico.git
[submodule "Hardware/Interconnect-Board/Libraries/thermocline-kicad-libraries"]
	path = Hardware/Interconnect-Board/Libraries/thermocline-kicad-libraries
	url = https://github.com/Team-Thermocline/thermocline-kicad-libraries.git
[submodule "Hardware/Main-Board/libraries/thermocline-kicad-libraries"]
	path = Hardware/Main-Board/libraries/thermocline-kicad-libraries
	url = https://github.com/Team-Thermocline/thermocline-kicad-libraries.git
[submodule "Hardware/Main-Board/libraries/kenwoodfox-kicad-libraries"]
	path = Hardware/Main-Board/libraries/kenwoodfox-kicad-libraries
	url = https://github.com/KenwoodFox/kenwoodfox-kicad-libraries
[submodule "Hardware/Main-Board/libraries/faston-kicad-library"]
	path = Hardware/Main-Board/libraries/faston-kicad-library
	url = https://github.com/KenwoodFox/faston-kicad-library.git
[submodule "Hardware/Complete-System/libraries/thermocline-kicad-libraries"]
	path = Hardware/Complete-System/libraries/thermocline-kicad-libraries
	url = git@github.com:Team-Thermocline/thermocline-kicad-libraries.git
[submodule "Firmware/lib/FreeRTOS-Kernel"]
	path = Firmware/lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "Firmware/lib/pico_adg728"]
	path = Firmware/lib/pico_adg728
	url = https://github.com/Team-Thermocline/Pico-ADG728
