# Build artifacts
version.h
_build

# Binaries and Backups
*.FCStd1
*.FCBak
*.bak
*.stl
*.pdf
*.zip
*.*~

# CAD Artifacts
*.stl

# Doc artifacts
_*/

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Pio
.pio

# dev artifacts
.vscode
